# Atlas Commercial
# ATLAS_BASE_URL=https://cloud.mongodb.com

# Atlas for Government
ATLAS_BASE_URL=https://cloud.mongodbgov.com

# The group ID is the Project ID
PROJECT_ID=xxxxxxxxxxxxxxxxxxxxxxxx
GROUP_ID=$PROJECT_ID

PUBLIC_KEY=xxxxxxxx
PRIVATE_KEY=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

