atlas_org_id = "<your-Atlas-org-ID>"
atlas_project_name = "<your-Atlas-project-name>"
db_username = "<your-Atlas-db-username>""
environment = "dev"
cluster_instance_size_name = "M20"
cloud_provider = "AWS"
atlas_region = "US_GOV_EAST_1"
mongodb_version = "6.0"
# for configuring IP Access List
ip_address = "<ip-address>"

